//Custom LionBox SCSS

.logo {
	background-image: url("/assets/images/logo.svg");
	height: 100px;
	width: 100px;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
}
.brand{
	height: 100px;
	width: 100px;
}

